.header-group{
    font-size: 32px;
    text-align: center;
    color: #262135;
    opacity: 1;
}
.form-name{
    font-size: 14px;
    font-weight: bold;
}
.frm-width{
    width: 328px;
    border: 1px solid #00000029;
}

.form-check-label{
    font-size: 13px;
    margin-bottom:17px ;
}
.form-check-input{
    margin-top: 8px;
}
.btn-style{
    width: 328px;
    background-color: #399898;
    color: white;
    margin-right: 5px;
}
.btn-style:hover {
    width: 328px;
    background-color: #399898;
    color: white;
    margin-right: 5px;
}

.create-account-msg{
    font-size: 14px;
}
.forgot-password-link{
    text-decoration: underline;
    text-decoration-color: #399898;
    font-size: 14px;
}
.header-group-p{
    align-items: center;
}
input[type="text"],
      input[type="password"],
      textarea {
        border: none;
        outline: none;
        border: 1px solid #ccc; 
      }
.far,  .fa {
    margin-left: -70px;
    margin-top: 10px;
    background-color: white;
    color: grey;
}
.card-title{
    font-size: 25px;
    text-align: center;
}
.verify-email{
    background-color: #399898;
}
.modal-title{
    margin-left: 140px;
}
.agree-btn{
    margin-right: 125px;
    background-color: #399898;
    border-radius: 4px;
    width: 214px;
    color: white;
}



