@import "../variables.scss";

.navbar-login {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 64px;
    padding: 28px 40px 28px 40px !important;
    opacity: 1;
    background-color: #011f62;
    z-index: 1;
    width: 100%;
}

.login-container {
    background: transparent;
    background-color: rgba(255, 255, 255, 0.85);
  //  background-image: url('../assets/images/bg.png');
}

.login-btn {
    background-color: $PrimaryViolet;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    height: 38px;
    font-weight: bold;
}

.btn.login-btn:hover {
    color: #fff;
}


.bg-image {
    background-image: url('../assets/images/bg.png');
    color: lightgray;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    margin-top: 64px;
}

.logintext {
    text-align: left;
    font: normal normal bold 24px/29px Helvetica;
    letter-spacing: -0.48px;
    color: #262135;
    opacity: 1;
}

.input-cls {
    position: relative;
}

.input-cls input {
    font-size: 13px;
    height: 38px;
}

.logincard {
    width: 30%;
    border: 1px solid #073293;
    padding: 15px 30px;
    border-radius: 10px;
}

.icon-cls {
    position: absolute;
    bottom: 8px;
    right: 18px;
    height: 20px;
}

.inputheader {
    text-align: center;
    font: normal normal normal 13px/16px Helvetica;
    letter-spacing: 0px;
    color: #262135;
    opacity: 1;
    font-weight: 600;
}

.forgot-cls {
    text-align: left;
    font: normal normal 14px/17px Helvetica;
    letter-spacing: -0.28px;
    color: rgb(0 53 53);
    opacity: 1;
    font-size: 17px;
    cursor: pointer;
}

.forgot-cls:hover {
    text-decoration: underline;
}

.login-view {
    background-color: white;
}

.login-footer {
    background-color: transparent;
}

.login-icon-style {
    margin: 0 0px 2px 4px !important;
}

.invalid {
    border: 1px solid red !important;
}

.input-group {
    position: relative;
  }
  
  .input-group .form-control {
    padding-right: 2.5rem; // Adjust padding to make room for the icon
  }
  
  .input-group .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
  }
  
  .input-group .input-group-text img {
    height: 1.5rem; // Adjust icon size if needed
    width: 1.5rem; // Adjust icon size if needed
  }
  