.form-name{
    font-size: 14px;
    font-weight: bold;
}

.frm-width{
    width: 328px;
    border: 1px solid #00000029;
}

.form-check-label{
    font-size: 13px;
    margin-bottom:17px ;
    text-decoration: underline;
    cursor: pointer;
}
.form-check-label:hover{
    font-weight: bold;
}
.form-check-input{
    margin-top: 8px;
}

.create-account-msg{
    font-size: 14px;
}
.forgot-password-link{
    text-decoration: underline;
    text-decoration-color: #399898;
    font-size: 14px;
}

input[type="text"],
      input[type="password"],
      textarea {
        border: none;
        outline: none;
        border: 1px solid #ccc;
      }
.far,  .fa {
    margin-left: -70px;
    margin-top: 10px;
    background-color: white;
    color: grey;
}

.btn-style{
    width: 328px;
    background-color: #399898;
    color: white;
}

.btn-style:hover{
    transform: scale(1.1);
    background-color: #399898;
}

.alert-danger {
    font-size: 13px;
    padding-bottom: 0;
    width: 30%;
    margin: auto;
}



