
@import '~mdb-ui-kit/css/mdb.min.css';

.main-heading {
    padding: 0px;
    margin-bottom: 2%;
    font: normal normal bold 24px/20px 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 30px;
}

.sub-heading {
    padding: 0px;
    margin-bottom: 3%;
    font: normal normal bold 24px/20px 'Poppins', Arial, Helvetica, sans-serif;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 20px;
}

.description{
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e
}

.tab-content {
    padding: 25px 0px;
}
.no-pad-left {
    padding-left:0px
}
.no-pad-right {
    padding-right:0px
}
.unit-tab-content {
    /* Adjust box-shadow to match vertical tab */
    box-shadow: 2px 2px 9px rgb(41 48 135 / 28%), 
    2px 1px 3px rgba(255, 255, 255, 9.28), 
    0px 1px 3px rgba(87, 68, 68, 0.08);

    /* Padding as requested */
    padding: 0px 10px 0px !important;

    /* Adjust background to be more in line with the vertical tab active style */
    background-color: rgba(255, 255, 255, 0.85) !important;

    /* Add smooth transitions for both background and shadow */
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    border-left : 2px solid #3b71ca;
}

/* Optional hover or focus state to match vertical tab active behavior */
.unit-tab-content:hover, 
.unit-tab-content:focus {
    background-color: rgba(255, 255, 255, 1) !important; /* Fully opaque background on hover */

    /* Enhanced shadow on hover */
    box-shadow: 0px 0px 8px rgba(193, 177, 177, 0.35), 
                4px 2px 8px rgba(255, 255, 255, 0.3), 
                0px 2px 5px rgba(87, 68, 68, 0.1);
}

.vertical-link a {
    line-height: 20px;
}
.text-right{
    text-align: right;
}
.modal-90w {
    max-width: 90% !important;
}
.modal-75w {
    max-width: 75% !important;
}
.modal-85w {
    max-width: 85% !important;
}
.table thead tr th {
    padding: 6px 3px !important;
    background-color: rgb(227 230 236);
    color: #0d2448b3 !important;
}
.primary-btn {
    padding: 5px 10px;
    background-color: #002222;
    text-transform: capitalize !important;
}
.mt-10{
    margin-top: 8px;
}

.textarea{
    height: 85px;
}
.attach-image-button {
    display: inline-block;
    background-color: #b4b4b4; /* Button color */
    color: #ffffff; /* Text color */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.attach-image-button:hover {
    background-color: #0056b3; /* Button color on hover */
    color:#fff;
}
.fa-paperclip {
    color:#ffffff
}
.fa-paperclip:hover {
    color:#fff
}
.react-datepicker-wrapper {
    width: 100%;
}

.form-group-date {
    position: relative;
}
  
.form-group-date label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 10px;
    color: #555;
    z-index: 9;
}
  
  .form-control-date {
    padding-top: 0px; /* Adjust padding for label space */
    position: relative;
  }
  
  .image-section {
    position: relative;
    margin: 0 10px;
    text-align: center; 
    padding: 5px;
    border: 1px solid #eee;
    vertical-align: middle;
  }
