
@import '~mdb-ui-kit/css/mdb.min.css';

.main-heading {
    padding: 0px;
    margin-bottom: 2%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 30px;
}

.sub-heading {
    padding: 0px;
    margin-bottom: 3%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 20px;
}

.description{
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e
}

.tab-content {
    padding: 25px 0px;
}
.no-pad-left {
    padding-left:0px
}
.no-pad-right {
    padding-right:0px
}
.unit-tab-content {
    box-shadow: 0px 3px 5px rgb(201 178 178 / 28%), 0px 1px 3px rgb(255, 255, 255);
    padding: 0px 10px 10px !important;
    background-color: rgba(46, 94, 137, 0.0784313725) !important;
}
.vertical-link a {
    line-height: 20px;
}
.text-right{
    text-align: right;
}
.modal-90w {
    max-width: 90% !important;
}
.modal-75w {
    max-width: 75% !important;
}
.modal-85w {
    max-width: 85% !important;
}
.table thead tr th {
    padding: 10px !important;
    background-color: rgb(3 74 86 / 49%);
    color: #fff !important;
}
.primary-btn {
    padding: 5px 10px;
    background-color: #002222;
}
.mt-10{
    margin-top: 8px;
}

.mt-20{
    margin-top: 20px;
}

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background: #262135;
    color: #fff !important;
  }
  
  .add-row-form input {
    margin-right: 10px;
  }
  
  .add-row-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-button, .delete-button {
    background-color: #008CBA;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #f44336;
  }
  
  .row-even {
    background-color: #f6f6f6 !important; /* Light gray or any color you prefer */
}

.row-odd {
    background-color: #ffffff !important; /* White or any color you prefer */
}
.data-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0px 5px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  

  .label-read {
    position: absolute;
    top: -12px; /* Adjust this value to move the label vertically */
    left: 10px; /* Adjust this value to move the label horizontally */
    background: white; /* Ensure the label background covers span content */
    padding: 0 5px; /* Add padding to ensure label text looks clear */
    font-size: 12px; /* Adjust the font size if needed */
    z-index: 1; /* Ensure the label appears on top of the span */
  }
  
  .span-read {
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    width: 100%;
    background: #f5f5f5ab;
  }
  .form-select:disabled {
    background-color: #f5f5f5ab;
}
.hr {
  border-bottom: 1px solid #eee;
}
.border-back {
  background-color: #ccc;
}
.hr {
  border: none;
  height: 5px; /* height of the hr */
  background-color: #333; /* color of the hr */
  border-radius: 10px 10px 0 0; /* top radius */
  margin: 20px 0; /* space around the hr */
}

.h6{
  margin: 0px 0px 25px 0px;
  border-bottom: 2px dotted #ddd;
  color: #011f62;
  font-weight: 600;
}