
@import '~mdb-ui-kit/css/mdb.min.css';

.main-heading {
    padding: 0px;
    margin-bottom: 2%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 30px;
}

.sub-heading {
    padding: 0px;
    margin-bottom: 3%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 20px;
}

.description{
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e
}

.tab-content {
    padding: 25px 0px;
}
.no-pad-left {
    padding-left:0px
}
.no-pad-right {
    padding-right:0px
}
.unit-tab-content {
    background-color: #fff !important;
}
.vertical-link a {
    line-height: 20px;
}
.text-right{
    text-align: right;
}
.modal-50w {
    max-width: 50% !important;
}
.modal-75w {
    max-width: 75% !important;
}
.modal-85w {
    max-width: 85% !important;
}
.table thead tr th {
    padding: 10px !important;
    background-color: #0022228f;
    color: #fff !important;
}
.primary-btn {
    padding: 5px 10px;
    background-color: #002222;
}
