
@import '~mdb-ui-kit/css/mdb.min.css';

.main-heading {
    padding: 0px;
    margin-bottom: 2%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 30px;
}

.sub-heading {
    padding: 0px;
    margin-bottom: 3%;
    font: normal normal bold 24px/20px Helvetica;
    letter-spacing: 0px !important;
    color: #1C0202 !important;
    font-size: 20px;
}

.description{
    font-size: 14px;
    font-weight: 500;
    color: #6e6e6e
}

.tab-content {
    padding: 25px 0px;
}
.inner-tab-content {
    padding: 2px 0px !important
}

.nav-tabs .nav-link {
    text-transform: none !important;
}

.h1 {
    font-size: 16px !important;
    color: #003650;
    font-weight: 600;
}
.btn-close {
    opacity: 1 !important;
    filter: invert(100%);
}
.ml-15 {
    margin-left: 15px;
}
.pointer {
    cursor: pointer;
}